<nav>
    <a href="" class="nav_item">Home</a>
    <a href="" class="nav_item">Custom</a>
    <a href="" class="nav_item">Sedan</a>
    <a href="" class="nav_item">SUV</a>
    <a href="" class="nav_item">Truck</a>
</nav>