    <h1>Welcome to CSE Motors!</h1>

    <div class="hero_holder">
    
    <img class="hero_image" src="../images/vehicles/delorean.jpg" alt="Dolorean JPG">
    
    <div class="hero_content">
        <h2 class="content_item">DMC Delorean</h2>
        <p class="content_item">3 cup holders</p>
        <p class="content_item">Superman doors</p>
        <p class="content_item">Fuzzy dice!</p>
        <img class="today_button" src="../images/site/own_today.png" alt="Image with the words own today.">
    </div>
    
</div>

<div class="bottom_section">

<div class="car_reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul class="reviews_list">
        <li class="review_item">"So fast it's almost like traveling in time." (4/5)</li>
        <li class="review_item">"Coolest ride on the rode." (4/5)</li>
        <li class="review_item">"I'm feeling McFly!" (5/5)</li>
        <li class="review_item">"The most futuristic ride of our day." (4.5/5)</li>
        <li class="review_item">"80's livin and I love it!" (5/5)</li>
    </ul>
</div>

<div class="car_upgrades">

    <div class="upgrade_section">
        <div class="upgrade_part">
            <img class="upgrade_img" src="../images/upgrades/flux-cap.png" alt="">
            <a href="">Flux Capacitor</a>
        </div>
    </div>

    <div class="upgrade_section">
        <div class="upgrade_part">
            <img class="upgrade_img" src="../images/upgrades/flame.jpg" alt="">
            <a href="">Flame Decals</a>
        </div>
    </div>

    <div class="upgrade_section">
        <div class="upgrade_part">
            <img class="upgrade_img" src="../images/upgrades/bumper_sticker.jpg" alt="">
            <a href="">Bumper Stickers</a>
        </div>
    </div>
    
    <div class="upgrade_section">
        <div class="upgrade_part">
        <img class="upgrade_img" src="../images/upgrades/hub-cap.jpg" alt="">
        <a href="">Hub Caps</a>
        </div>
    </div>
</div>

</div>